.fadeIn{
    
    animation-duration: 4s;
    -webKit-animation-duration: 4s;

    animation-fill-mode: both;
    -webKit-animation-fill-mode: both;
    animation-name:fadeIn;
    -webKit-animation-name:fade;

}
@keyframes fade{
    from{
        opacity: 0
    }
    to{
        opacity: 1;
    }
}

.fadeInDown{
    animation-duration: 1s;
    -webKit-animation-duration: 1s;

    animation-fill-mode: both;
    -webKit-animation-fill-mode: both;
    animation-name:fadeIn;
    -webKit-animation-name:fadeout;

}
@keyframes fadeout{
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }
    to{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)


    }
}
.fadeInUp{
    animation-duration: 1s;
    -webKit-animation-duration: 1s;

    animation-fill-mode: both;
    -webKit-animation-fill-mode: both;
    animation-name:fadeIn;
    -webKit-animation-name:fadeup;

}
@keyframes fadeup{
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }
    to{
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)


    }
}


